<div *ngIf="showResetPassRequest" class="card-body">
    <p *ngIf="errorMsg" class="form-error">{{errorMsg}}</p>
    <p *ngIf="genericError"  class="form-error" translate>errors.genericError.message</p>

        
        <form  *ngIf="!formInitializing"  [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" novalidate>
                <h2 class="title" translate>Forms.resetPassword.Title</h2>
            <div class="row row-space">
                <div style="width: 100%;">
                    <div class="input-group">
                        <label class="label" translate>ResetPassRequest.samAccount.label</label>
                        <input formControlName="samAccount" type="text" [class.has-error]="userForm.get('samAccount').errors && userForm.get('samAccount').touched" class="input--style-4">
                        <div *ngIf="userForm.get('samAccount').errors">
                            <small *ngIf="userForm.get('samAccount').errors.required && userForm.get('samAccount').touched" class="error" translate>ResetPassRequest.samAccount.required</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div style="width: 100%;">
                    <div class="input-group">
                        <label class="label" translate>ResetPassRequest.employeeId.label</label>
                        <input formControlName="employeeId" type="text" [class.has-error]="userForm.get('employeeId').errors && userForm.get('employeeId').touched" class="input--style-4">
                        <div *ngIf="userForm.get('employeeId').errors">
                            <small *ngIf="userForm.get('employeeId').errors.required && userForm.get('employeeId').touched" class="error" translate>ResetPassRequest.employeeId.required</small>
                            <small *ngIf="userForm.get('employeeId').errors.pattern && userForm.get('employeeId').touched" class="error" translate>userDetails.employeeId.employeeId</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-space">
              <div style="width: 100%;">
                  <div class="input-group">
                      <label class="label" translate>ResetPassRequest.mobileNo.label</label>
                      <input formControlName="mobileNo" type="text" [class.has-error]="userForm.get('mobileNo').errors && userForm.get('mobileNo').touched" class="input--style-4">
                      <div *ngIf="userForm.get('mobileNo').errors">
                        <small *ngIf="userForm.get('mobileNo').errors.required && userForm.get('mobileNo').touched" class="error" translate>ResetPassRequest.mobileNo.required</small>
                        <small *ngIf="userForm.get('mobileNo').errors.pattern && userForm.get('mobileNo').touched" class="error" translate>userDetails.mobile.saudiPhone</small>
                    </div>
                  </div>
              </div>
            </div>
            <div class="p-t-15">
                <button [disabled]="userForm.invalid" class="btn btn--radius-2 btn--green" type="submit" translate>Forms.Buttons.Submit</button>
            </div>
        </form>
    </div>

    <div *ngIf="showConfirm">
        <app-confirm-reset-password-request [selectedReqId]="selectedReqId" 
        (hideConfirmEvent)="showConfirm=$event"
        (showSuccessEvent)="showSuccess=$event">
        </app-confirm-reset-password-request>
    </div>

    <div *ngIf="showSuccess">
        <app-reset-password-success></app-reset-password-success>
    </div>