<div class="card-body">
  <p *ngIf="errorMsg" class="form-error">{{errorMsg}}</p>
  <p *ngIf="genericError"  class="form-error" translate>errors.genericError.message</p>

  
  <form [formGroup]="validateForm" (ngSubmit)="onSubmit($event)" novalidate>
        <h2 class="title" translate>Forms.confirmRequest.Title</h2>
      <div class="row row-space">
          <div style="width: 100%;">
              <div class="input-group">
                  <label class="label" translate>confirmRequest.vcode.label</label>
                  <input type="text" formControlName="vcode" [class.has-error]="validateForm.get('vcode').errors && validateForm.get('vcode').touched" class="input--style-4">
                <div *ngIf="validateForm.get('vcode').errors">
                    <small *ngIf="validateForm.get('vcode').errors.required && validateForm.get('vcode').touched" class="error" translate>confirmRequest.vcode.required</small>
                    <small *ngIf="validateForm.get('vcode').errors.pattern && validateForm.get('vcode').touched" class="error" translate>confirmRequest.vcode.validVcode</small>
                </div>
              </div>
          </div>
      </div>
      <div class="p-t-15">
          <button [disabled]="validateForm.invalid" class="btn btn--radius-2 btn--green" type="submit"  translate>Forms.Buttons.Validate</button>
      </div>
  </form>
</div>

