
<div *ngIf="!submitted" class="card-body">

    <p *ngIf="errorMsg" class="form-error">{{errorMsg}}</p>
 
    <h2 class="title" translate>Forms.confirmCreateRequest.Title</h2>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit(userForm)" novalidate>
        <div class="row row-space">
            <div style="width: 100%;">
                <div class="input-group">
                    <label class="label" translate>userDetails.samAccount.label</label>
                    <input type="text" formControlName="samaccount" class="input--style-4">
                </div>
            </div>
        </div>


        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.firstName.label</label>
                    <p class="input--style-4 user-field"> {{_userDetails.firstName}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.depId.label</label>
                    <p class="input--style-4 user-field">{{_userDetails.department?.depName}} </p>
                </div>
            </div>
        </div>

        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.lastName.label</label>
                    <p class="input--style-4 user-field">{{_userDetails.lastName}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.employeeId.label</label>
                    <p class="input--style-4 user-field">{{_userDetails.employeeID}}</p>
                </div>
            </div>
        </div>
        
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.arabicName.label</label>
                    <p class="input--style-4 user-field">{{_userDetails.arabicName}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.gender.label</label>
                    <p class="input--style-4 user-field">{{_userDetails.gender}}</p>
                </div>
            </div>
        </div> 

        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.nationalId.label</label>
                    <p class="input--style-4 user-field">{{_userDetails.nationalId}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.document.label</label>
                    <p class="input--style-4 user-field" (click)="downloadAttachment()" style="cursor:pointer;font-weight: bold;">Document.pdf</p>
                </div>
            </div>
        </div> 


        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.mobile.label</label>
                    <p class="input--style-4 user-field">{{_userDetails.mobile}}</p>
                </div>
            </div>
        </div> 

        <div class="p-t-15">
            <button [class.disabled]="createForm.invalid" class="btn btn--radius-2 btn--green" type="submit" translate>Forms.Buttons.Confirm</button>
            <button [class.disabled]="createForm.invalid" (click)="denyRequest()" class="btn btn--radius-2 btn--red btn-secondary" type="button" translate>Forms.Buttons.Deny</button>
        </div>
    </form>
</div>


<div *ngIf="submitted" class="card-body">
        <form><h2 class="title" translate>successScreen.createUserDenied.message</h2></form>
</div>


