<div class="displayable">
  <img src="../../../../assets/img/IT-UB.png">
  <h3 >
    <p style="display:inline-block;padding:5px;" translate>labels.registeredUser</p>
    <a routerLink="/login" translate>labels.login</a>  
  </h3>
</div>