<!-- <div style="margin-left:200px;">
    show requests : {{showRequests}} , show Create User : {{showConfirmCreate}} , show create password {{showConfirmCreatePass}}
  </div>
-->


<div *ngIf="showRequests" class="card-body">
  <form>
  <p *ngIf="errorMsg" class="form-error">{{errorMsg}}</p>
    <a *ngFor="let request of requests"  style="text-decoration:none;" >
      <div class="panel">
        <i hidden>{{request.id}}</i>
        <div class="header">
          <p>{{request.reqDetails.firstName}} {{request.reqDetails.lastName}}</p>
          </div>
        <div class="sub-header">
          <p>{{request.reqDetails.department.depName}}</p>
        </div>
        <div class="hint">
          <p>{{request.created | date: 'dd/MM/yyyy'}}</p>
        </div>
        
        <div class="nav-icon">
            <button type="button" (click)="setRequestId($event)">Details<i class="fa fa-angle-right" style="margin:5px;"></i></button>
        </div>
      </div>
    </a>
  </form>
</div>

<div *ngIf="showConfirmCreate">
  <app-confirm-create-user 
  (confirmCreateUserEvent)="showConfirmCreatePass=$event"
  (hideCreateUserEvent)="showConfirmCreate=$event"
  [selectedReq]="selectedReqId"></app-confirm-create-user>
</div>

<div *ngIf="showConfirmCreatePass">
  <app-confirm-create-user-password
  [selectedReq]="selectedReqId"
  (showCreateUserPassEvent)="showConfirmCreatePass=$event"
  (showCompletedRequestEvent)="showCompletedRequest=$event"
  ></app-confirm-create-user-password>
</div>

<div *ngIf="showCompletedRequest">
  <app-confirm-create-user-success></app-confirm-create-user-success>
</div>

<button class="back" type="button" (click)="setDefaults()"><i class="fa fa-angle-left" style="margin:5px;"></i> Back</button>

