<div *ngIf="showChangeAttrRequest"  class="card-body">
    
        <p *ngIf="genericError"  class="form-error" translate>errors.genericError.message</p>
        <p *ngIf="specificError"  class="form-error">{{specificError}}</p>
    <ul *ngIf="validationErrors" class="form-validation-error">
        <li class="ml-2 mr-2" *ngFor="let validationError of validationErrors">
          {{validationError.validationMessage}}
        </li>
    </ul>
    
    
        
        <!-- {{userForm.value | json}} -->
        <form *ngIf="!formInitializing" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" novalidate>
                <h2 class="title" translate>Forms.changeAttributes.Title</h2>
            <div class="row row-space">
                <div class="col-2">
                    <div class="input-group">
                        <label class="label" translate>userDetails.firstName.label</label>
                        <input formControlName="firstName" [class.has-error]="userForm.get('firstName').errors && userForm.get('firstName').touched" class="input--style-4" type="text">
                        <div *ngIf="userForm.get('firstName').errors">
                            <small *ngIf="userForm.get('firstName').errors.required && userForm.get('firstName').touched" class="error" translate>userDetails.firstName.required</small>
                            <small *ngIf="userForm.get('firstName').errors.pattern && userForm.get('firstName').touched" class="error" translate>userDetails.firstName.englishCharacters</small>
                            <small *ngIf="userForm.get('firstName').errors.minlength && userForm.get('firstName').touched" class="error" translate>userDetails.firstName.minlength</small>
                            <small *ngIf="userForm.get('firstName').errors.maxlength && userForm.get('firstName').touched" class="error" translate>userDetails.firstName.maxlength</small>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <label class="label"translate>userDetails.ou.label</label>
                        <select formControlName="ouId" (change)="ouChanged($event)" class="select" type="text">
                            <option *ngFor="let ou of ous" [selected]="isSelectedOu(ou)"  [value]="ou.key">{{ou.value}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div class="col-2">
                    <div class="input-group">
                        <label class="label" translate>userDetails.lastName.label</label>
                        <input formControlName="lastName" [class.has-error]="userForm.get('lastName').errors && userForm.get('lastName').touched" class="input--style-4" type="text">
                        <div *ngIf="userForm.get('lastName').errors">
                            <small *ngIf="userForm.get('lastName').errors.required && userForm.get('lastName').touched" class="error" translate>userDetails.lastName.required</small>
                            <small *ngIf="userForm.get('lastName').errors.pattern && userForm.get('lastName').touched" class="error" translate>userDetails.lastName.englishCharacters</small>
                            <small *ngIf="userForm.get('lastName').errors.minlength && userForm.get('lastName').touched" class="error" translate>userDetails.lastName.minlength</small>
                            <small *ngIf="userForm.get('lastName').errors.maxlength && userForm.get('lastName').touched" class="error" translate>userDetails.lastName.maxlength</small>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <label class="label" translate>userDetails.depId.label</label>
                        <select formControlName="depId" [class.has-error]="userForm.get('depId').errors && userForm.get('depId').touched" class="select" type="text">
                            <option *ngFor="let dep of deps" [value]="dep.key">{{dep.value}}</option>
                        </select>
                        <div *ngIf="userForm.get('depId').errors">
                            <small *ngIf="userForm.get('depId').errors.required && userForm.get('depId').touched" class="error" translate>userDetails.depId.required</small>
                        </div>                     
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div class="col-2">
                    <div class="input-group">
                        <label class="label" translate>userDetails.arabicName.label</label>
                        <input formControlName="arabicName" [class.has-error]="userForm.get('arabicName').errors && userForm.get('arabicName').touched" class="input--style-4" type="text">
                        <div *ngIf="userForm.get('arabicName').errors">
                            <small *ngIf="userForm.get('arabicName').errors.required && userForm.get('arabicName').touched" class="error" translate>userDetails.arabicName.required</small>
                            <small *ngIf="userForm.get('arabicName').errors.pattern && userForm.get('arabicName').touched" class="error" translate>userDetails.arabicName.arabicCharacters</small>
                            <small *ngIf="userForm.get('arabicName').errors.minlength && userForm.get('arabicName').touched" class="error" translate>userDetails.arabicName.minlength</small>
                            <small *ngIf="userForm.get('arabicName').errors.maxlength && userForm.get('arabicName').touched" class="error" translate>userDetails.arabicName.maxlength</small>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <label class="label" translate>userDetails.employeeId.label</label>
                        <input formControlName="employeeID" [class.has-error]="userForm.get('employeeID').errors && userForm.get('employeeID').touched" class="input--style-4" type="text">
                        <div *ngIf="userForm.get('employeeID').errors">
                            <small *ngIf="userForm.get('employeeID').errors.required && userForm.get('employeeID').touched" class="error" translate>userDetails.employeeId.required</small>
                            <small *ngIf="userForm.get('employeeID').errors.pattern && userForm.get('employeeID').touched" class="error" translate>userDetails.employeeId.employeeId</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div class="col-2">
                    <div class="input-group">
                        <label class="label" translate>userDetails.nationalId.label</label>
                        <input formControlName="nationalId" [class.has-error]="userForm.get('nationalId').errors && userForm.get('nationalId').touched" class="input--style-4" type="text">
                        <div *ngIf="userForm.get('nationalId').errors">
                            <small *ngIf="userForm.get('nationalId').errors.required && userForm.get('nationalId').touched" class="error" translate>userDetails.nationalId.required</small>
                            <small *ngIf="userForm.get('nationalId').errors.pattern && userForm.get('nationalId').touched" class="error" translate>userDetails.nationalId.saudiID</small>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <label class="label" translate>userDetails.ipPhone.label</label>
                        <input formControlName="ipPhone" [class.has-error]="userForm.get('ipPhone').errors && userForm.get('ipPhone').touched" class="input--style-4" type="text">
                        <div *ngIf="userForm.get('ipPhone').errors">
                            <small *ngIf="userForm.get('ipPhone').errors.required && userForm.get('ipPhone').touched" class="error" translate>userDetails.ipPhone.required</small>
                            <small *ngIf="userForm.get('ipPhone').errors.pattern && userForm.get('ipPhone').touched" class="error" translate>userDetails.ipPhone.workPhone</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div class="col-2">
                    <div class="input-group">
                        <label class="label" translate>userDetails.mobile.label</label>
                        <input formControlName="mobile" [class.has-error]="userForm.get('mobile').errors && userForm.get('mobile').touched" class="input--style-4" type="text">
                        <div *ngIf="userForm.get('mobile').errors">
                            <small *ngIf="userForm.get('mobile').errors.required && userForm.get('mobile').touched" class="error" translate>userDetails.mobile.required</small>
                            <small *ngIf="userForm.get('mobile').errors.pattern && userForm.get('mobile').touched" class="error" translate>userDetails.mobile.saudiPhone</small>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <label class="label" translate>userDetails.gender.label</label>
                        <div class="p-t-15">
                            <label class="radio-container m-r-45">Male
                                <input formControlName="gender" value="1"  type="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">Female
                                <input formControlName="gender" value="2" type="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-t-15">
                <button [disabled]="userForm.invalid" class="btn btn--radius-2 btn--green" type="submit"  translate>Forms.Buttons.Submit</button>
            </div>
        </form>
    </div>

<div *ngIf="showConfirm">
    <app-change-attributes-confirm [selectedReqId]="selectedReqId"
    (showConfirmEvent) = "showConfirm=$event"
    (showSuccessEvent) = "showSuccess=$event"></app-change-attributes-confirm>
</div>

<div *ngIf="showSuccess">
    <app-change-attributes-success></app-change-attributes-success>
</div>

<button class="back" type="button" (click)="setDefaults()"><i class="fa fa-angle-left" style="margin:5px;"></i> Back</button>
