
<div class="card-body">
    <p *ngIf="errorMsg" class="form-error">{{errorMsg}}</p>
    <form>
    <h2 class="title" translate>Forms.userInfo.Title</h2>
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.firstName.label</label>
                    <p class="user-field"> {{_userDetails?.firstName}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.depId.label</label>
                    <p class="user-field">{{_userDetails?.department?.depName}} </p>
                </div>
            </div>
        </div>

        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.lastName.label</label>
                    <p class="user-field">{{_userDetails?.lastName}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.employeeId.label</label>
                    <p class="user-field">{{_userDetails?.employeeID}}</p>
                </div>
            </div>
        </div>
        
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.arabicName.label</label>
                    <p class="user-field">{{_userDetails?.arabicName}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.gender.label</label>
                    <p class="user-field">{{_userDetails?.gender}}</p>
                </div>
            </div>
        </div> 

        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.nationalId.label</label>
                    <p class="user-field">{{_userDetails?.nationalId}}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label" translate>userDetails.mobile.label</label>
                    <p class="user-field">{{_userDetails?.mobile}}</p>
                </div>
            </div>
        </div>
    </form> 
</div>

