<div class="card-body">
    <p *ngIf="errorMsg" class="form-error">{{errorMsg}}</p>
 
    <h2 class="title" translate>Forms.setPassword.Title</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row row-space">
            <div style="width: 100%;">
                <div class="input-group">
                    <label class="label" translate>changePassRequest.password.label</label>
                    <input type="text" formControlName="password" [class.has-error]="passwordForm.get('password').errors && passwordForm.get('password').touched" class="input--style-4">
                    <div *ngIf="passwordForm.get('password').errors">
                        <small *ngIf="passwordForm.get('password').errors.required && passwordForm.get('password').touched" class="error" translate>changePassRequest.password.required</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-t-15">
            <button [class.disabled]="passwordForm.invalid" class="btn btn--radius-2 btn--green" type="submit" translate>Forms.Buttons.Submit</button>
        </div>
    </form>
</div>