<div *ngIf="showtTrackPendingRequest" class="card-body">
    <p *ngIf="errorMsg" class="form-error">{{errorMsg}}</p>
        <h2 class="title" translate>Forms.trackPending.Title</h2>
        <form *ngIf="!formInitializing" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" novalidate>
          <div class="row row-space">
              <div style="width: 100%;">
                  <div class="input-group">
                      <label class="label" translate>ResetPassRequest.mobileNo.label</label>
                      <input formControlName="mobileNo" type="text" [class.has-error]="userForm.get('mobileNo').errors && userForm.get('mobileNo').touched" class="input--style-4">
                      <div *ngIf="userForm.get('mobileNo').errors">
                        <small *ngIf="userForm.get('mobileNo').errors.required && userForm.get('mobileNo').touched" class="error" translate>userDetails.mobile.required</small>
                        <small *ngIf="userForm.get('mobileNo').errors.pattern && userForm.get('mobileNo').touched" class="error" translate>userDetails.mobile.saudiPhone</small>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row row-space">
              <div style="width: 100%;">
                  <div class="input-group">
                      <label class="label" translate>userDetails.nationalId.label</label>
                      <input formControlName="nationalId" type="text" [class.has-error]="userForm.get('nationalId').errors && userForm.get('nationalId').touched" class="input--style-4">
                      <div *ngIf="userForm.get('nationalId').errors">
                        <small *ngIf="userForm.get('nationalId').errors.required && userForm.get('nationalId').touched" class="error" translate>userDetails.nationalId.required</small>
                        <small *ngIf="userForm.get('nationalId').errors.pattern && userForm.get('nationalId').touched" class="error" translate>userDetails.nationalId.saudiID</small>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row row-space">
                <div style="width: 100%;">
                    <div class="input-group">
                        <label class="label" translate>userDetails.employeeId.label</label>
                        <input formControlName="employeeId" type="text" [class.has-error]="userForm.get('employeeId').errors && userForm.get('employeeId').touched" class="input--style-4">
                        <div *ngIf="userForm.get('employeeId').errors">
                            <small *ngIf="userForm.get('employeeId').errors.required && userForm.get('employeeId').touched" class="error" translate>userDetails.employeeId.required</small>
                            <small *ngIf="userForm.get('employeeId').errors.pattern && userForm.get('employeeId').touched" class="error" translate>userDetails.employeeId.employeeId</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-t-15">
                <button [disabled]="userForm.invalid" class="btn btn--radius-2 btn--green" type="submit"  translate>Forms.Buttons.Submit</button>
            </div>
        </form>
    </div>

    <div *ngIf="showConfirm">
        <app-track-pending-confirm [selectedReqId]="selectedReqId" 
        (showConfirmEvent)="showConfirm=$event"
        (showSuccessEvent)="showSuccess=$event">
        </app-track-pending-confirm>
    </div>

    <div *ngIf="showSuccess">
        <app-track-pending-success></app-track-pending-success>
    </div>