<div class="icon-bar">
    <a class="active" href="#"><i class="fa fa-home"></i>Ahmed</a> 
    <a class="border-top-0" href="#"><i class="fa fa-search"></i>Emam</a> 
    <a class="border-top-0" href="#"><i class="fa fa-envelope"></i>Hussein</a> 
    <a class="border-top-0" href="#"><i class="fa fa-globe"></i>Saleh</a>
    <a class="border-top-0" href="#"><i class="fa fa-trash"></i>Moaz</a> 
  </div>