
    <div  class="page-wrapper bg-gra-02 font-poppins" style="background:none;padding-top:30px;padding-bottom:30px;">
            <div class="wrapper wrapper--w680">
                    <div class="language-bar" style="margin:0px 10px;">
                            <button type="button" (click)="switchArabic()" class="btn btn--default">Arabic</button>
                            <button type="button" (click)="switchEnglish()"  class="btn btn--default">English</button>
                            <button *ngIf="loggedIn" type="button" class="btn" style="float:left;color: black;" (click)="logout()">Logout</button>
                        </div>
            
                <div class="card card-4" style="position:relative;border: 1px solid #ddd;"> 
                    <app-sidebar></app-sidebar>
                    <div class="card-content">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
    </div>

