<div class="card-body">
    <p *ngIf="errorMsg" class="form-error">{{errorMsg}}</p>
    <h2 class="title" translate>Forms.confirmRequest.Title</h2>
    <form [formGroup]="validateForm" (ngSubmit)="onSubmit($event)" novalidate>
        <div class="row row-space">
            <div style="width: 100%;">
                <div class="input-group">
                    <label class="label" translate>confirmRequest.vcode.label</label>
                    <input type="text" formControlName="vcode"  [class.has-error]="validateForm.get('vcode').errors && validateForm.get('vcode').touched" class="input--style-4">
                    <div *ngIf="validateForm.get('vcode').errors">
                        <small *ngIf="validateForm.get('vcode').errors.required && validateForm.get('vcode').touched" class="error" translate>confirmRequest.vcode.required</small>
                        <small *ngIf="validateForm.get('vcode').errors.pattern && validateForm.get('vcode').touched" class="error" translate>confirmRequest.vcode.validVcode</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div style="width: 100%;">
                <div class="input-group">
                    <label class="label" translate>ResetPassRequest.newPassword.label</label>
                    <input type="password" formControlName="password" [class.has-error]="validateForm.get('password').errors && validateForm.get('password').touched" class="input--style-4 has-error" />
                    <div *ngIf="validateForm.get('password').errors">
                        <small *ngIf="validateForm.get('password').errors.required && validateForm.get('password').touched" class="error" translate>ResetPassRequest.newPassword.required</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div style="width: 100%;">
                <div class="input-group">
                    <label class="label" translate>ResetPassRequest.confirmPassword.label</label>
                    <input type="password" formControlName="confirmPassword" [class.has-error]="validateForm.get('confirmPassword').errors && validateForm.get('confirmPassword').touched" class="input--style-4 has-error"/>
                    <div *ngIf="validateForm.get('confirmPassword').errors">
                        <small *ngIf="validateForm.get('confirmPassword').errors.required && validateForm.get('confirmPassword').touched" class="error" translate>ResetPassRequest.confirmPassword.required</small>
                    </div>
                    <small *ngIf="validateForm.errors?.mismatch && validateForm.get('confirmPassword').touched" class="error" translate>ResetPassRequest.confirmPassword.mismatch</small>
                </div>
            </div>
        </div>
        <div class="p-t-15">
            <button [disabled]="validateForm.invalid" class="btn btn--radius-2 btn--green" type="submit"  translate>Forms.Buttons.Validate</button>
        </div>
    </form>
  </div>
  
  
  <div class="card-body">
    <h2 class="title">User Password Reset Successfully  !</h2>
  </div>