<div class="card-body">
    <p *ngIf="genericError"  class="form-error" translate>errors.genericError.message</p>
    <p *ngIf="error"  class="form-error">{{error}}</p>   
        <form [formGroup]="loginForm" *ngIf="!submitted" (ngSubmit)="onSubmit(userForm)" novalidate>
            <h2 class="title"  translate>Forms.login.Title</h2>
            <div class="row row-space">
                <div style="width: 100%;">
                    <div class="input-group">
                        <label class="label" translate>loginScreen.username.label</label>
                        <input type="text" formControlName="username" [class.has-error]="loginForm.get('username').errors && loginForm.get('username').touched"  class="input--style-4" required >
                        <div *ngIf="loginForm.get('username').errors">
                            <small *ngIf="loginForm.get('username').errors.required && loginForm.get('username').touched" class="error" translate>loginScreen.username.required</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-space">
                <div style="width: 100%;">
                    <div class="input-group">
                        <label class="label" translate>loginScreen.password.label</label>
                        <input type="password" formControlName="password" [class.has-error]="loginForm.get('password').errors && loginForm.get('password').touched" class="input--style-4" required >
                        <div *ngIf="loginForm.get('password').errors">
                            <small *ngIf="loginForm.get('password').errors.required && loginForm.get('password').touched" class="error" translate>loginScreen.password.required</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-t-15">
                <button class="btn btn--radius-2 btn--green" type="submit" translate>Forms.Buttons.Login</button>
            </div>
        </form>
    </div>
