
		small
		{
			display: block;
		}
		.has-error
		{
			border:1px solid #930F11;
		}
		
		.error
		{
			color:#AF0002;
		}
		
		.document
		{
			background: #fafafa;
			padding: 14px;
			border-radius: 5px;
			-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
			-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
			box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
		}
		
		.select, .input
		{
			background: #fafafa;
			padding: 17px;
			border-radius: 5px;
			-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
			-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
			box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border:none;
			width: 100%;
		}
		
		.panel:hover 
		{
			background-color: #39b70e05;
		}

		.panel:hover .header{
			color: #a97f4a;
		}
		.panel
		{
			background: #fafafa;
			padding: 17px;
			border-radius: 5px;
			position: relative;
			border: 1px solid rgb(218, 218, 218);
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-top: 5px solid #c5b39c;
			width: 100%;
			margin: 20px 0px;
		}

		.panel .header
		{
			font-size: 24px;
			color: black;
		}
		.panel .sub-header
		{
			font-size: 18px;
			color:rgb(92, 92, 92);
		}

		.panel .hint
		{
			font-size: 14px;
			color:rgb(92, 92, 92);
		}
		.panel .nav-icon
		{
			right:20px;
			left: auto;
			position: absolute;
			bottom: 10%;
			font-size: 14px;
			
		}

		.back
		{
			right:20px;
			bottom: 20px;
			position: absolute;
			font-size: 20px;
			color:rgb(92, 92, 92);
		}

		.panel .nav-icon button{
			cursor: pointer;
			font-size: 17px;
			color:rgb(92, 92, 92);
		}

		.panel .nav-icon button:hover{
			cursor: pointer;
			font-size: 17px;
			color:rgb(44, 99, 25);		
		}

		.form-error
		{
			background: #f1d5d5;
			color:#7B0103;
			padding: 14px;
			border-radius: 5px 5px 0px 0px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding-left: 170px;
			z-index: 1;
		}
		
		.form-validation-error
		{
			background: #f1d5d5;
			color:#7B0103;
			padding: 14px;
			border-radius: 5px;			
			width: 100%;
		}
		
		button:disabled
		{
			background: #b3b3b3;
			color:rgb(94, 94, 94);
		}

		.btn--green {
    		background: #2c6319;
		}
		
		.wrapper
		{
			max-width: 1020px;
		}

		.card-body > form
		{
			min-height: 600px;
		}
		
		.card
		{
			min-height: 800px;
			overflow: hidden;
		}

		.user-field
		{
			padding:17px;
			font-weight: bold;
		}

		.sidebar
		{
			width: 150px;
			position: absolute;
			background-color: #c5b39c;
			left: 0;
			height: 100%;
			border-radius: 10px 0px 0px 10px;
			z-index:10;
		}

		.card-content
		{
			margin-left:150px;
			margin-right: 0px;
			direction: ltr;
		}

		.displayable
		{
			/*width: 50%;*/
			margin: 25% auto;
			height: 50%;
			text-align: center;
			position: relative;
		}

		.hidden
		{
			display: none;
		}