.icon-bar {
    width: 150px;
    border-radius: 10px 0px 0px 10px;
    background-color: transparent;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 22px 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
    border-bottom: 1px solid #dad0c2;
    text-decoration:none;
}

.icon-bar a i{
    font-size: 40px;
    display:block;
    margin-bottom: 10px;
    }

.icon-bar a:first-child
{
   /* border-radius: 10px 0px 0px 0px;*/
}

.icon-bar a:hover {
    background-color: #8c7251;
}

.active {
    background-color: #146318;
}
