
<div class="sidebar">
    <div class="icon-bar">
        <a routerLink="/home" routerLinkActive="active" translate><i class="fa fa-home"></i>sidebar.home</a>
         
        <a *ngIf="isAdmin" routerLink="/admin" translate><i class="fa fa-envelope"></i>sidebar.requests</a>

        <a  *ngIf="!loggedIn" routerLink="/createUser" routerLinkActive="active" translate><i class="fa fa-user-plus"></i>sidebar.createUser</a>
        <a *ngIf="!loggedIn" routerLink="/resetPass" routerLinkActive="active" translate><i class="fa fa-unlock-alt"></i>sidebar.resetPass</a>   
        <!--<a *ngIf="!loggedIn" routerLink="/trackPending" routerLinkActive="active" translate><i class="fa fa-search" translate></i>sidebar.track</a> -->
         
        <a *ngIf="loggedIn" routerLink="/attributes" routerLinkActive="active" translate><i class="fa fa-edit"></i>sidebar.edit</a> 
        <a *ngIf="loggedIn" routerLink="/changePass" routerLinkActive="active"  translate><i class="fa fa-key"></i>sidebar.changePass</a> 
    </div>
</div>

