<div *ngIf="showChangePassRequest" class="card-body"> 
    <p *ngIf="errorMsg" class="form-error">{{errorMsg}}</p>
        
        <form *ngIf="!formInitializing" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" novalidate>
                <h2 class="title" translate>Forms.changePassword.Title</h2>
          <div class="row row-space">
            <div style="width: 100%;">
                <div class="input-group">
                    <label class="label" translate>changePassRequest.password.label</label>
                    <input type="password" formControlName="password" [class.has-error]="userForm.get('password').errors && userForm.get('password').touched" class="input--style-4">                   
                    <div *ngIf="userForm.get('password').errors">
                        <small *ngIf="userForm.get('password').errors.required && userForm.get('password').touched" class="error" translate>changePassRequest.password.required</small>
                    </div>
                </div>
            </div>
        </div>
            <div class="row row-space">
                <div style="width: 100%;">
                    <div class="input-group">
                        <label class="label" translate>changePassRequest.confirmPassword.label</label>
                        <input type="password" formControlName="confirmPassword"  [class.has-error]="userForm.get('confirmPassword').errors && userForm.get('confirmPassword').touched" class="input--style-4">
                        <div *ngIf="userForm.get('confirmPassword').errors">
                            <small *ngIf="userForm.get('confirmPassword').errors.required && userForm.get('confirmPassword').touched" class="error" translate>changePassRequest.confirmPassword.required</small>
                        </div>
                        <small *ngIf="userForm.errors?.mismatch && userForm.get('confirmPassword').touched" class="error" translate>ResetPassRequest.confirmPassword.mismatch</small>
                    </div>
                </div>
            </div>
            <div class="p-t-15">
                <button [disabled]="userForm.invalid" class="btn btn--radius-2 btn--green" type="submit" translate>Forms.Buttons.Submit</button>
            </div>
        </form>
    </div>


    <div *ngIf="showConfirm">
      <app-change-password-confirm [selectedReqId]="selectedReqId"
      [newPass]="newPass"
      [confirmPass]="confirmPass"
      (showConfirmEvent) = "showConfirm=$event"
      (showSuccessEvent) = "showSuccess=$event"></app-change-password-confirm>
    </div>

    <div *ngIf="showSuccess">
      <app-change-password-success></app-change-password-success>
    </div>
