.sidebar
{
    right: 0 !important;
    left: auto;
    border-radius: 0px 10px 10px 0px;
}

.card-content
{
    margin-right:150px;
    margin-left:0px;
    direction: rtl;
}

.form-error
{
    padding-right: 0px;
    padding-right: 170px;
}

.panel .nav-icon
{
    left:20px;
    right : auto;
}